@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
}

/*App*/
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*Sidebar*/
.Sidebar {
  z-index: 10000;
  background-color: #f9fbff;
  width: 320px;
  min-width: 210px;
  height: 100%;
  border-right: 1px solid #808080;
  box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.5);
}

/*Main*/
.Main {
  background-image: url('./img/jesse-borovnica-VjMJmwZOs9M-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* User !!logo does not fit as it stands!! */
.User {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  /* border-bottom: 1px solid #505050; */
}

.User .logo img {
  display: flex;
  justify-content: space-around;
  width: 75px;
  border-radius: 50%;
  border: 2px solid #000;
  background: #f9fbff;
}

.User .info p {
  font-family: 'Vidaloka', cursive;
  font-size: 1.8rem;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
}

/* Modal */
.Modal {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.Modal .container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

/* AddNewTodo */
.AddNewTodo {
  /* border-bottom: 1px solid #505050; */
  padding-bottom: 1rem;
}

.AddNewTodo .btn {
  padding: 0.5rem;
  width: 100%;
  height: 70px;
  font-size: 0.8rem;
}

.AddNewTodo .btn button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  background: #4839ca;
  color: #f9fbff;
  font-weight: bold;
  cursor: pointer;
}

.AddNewTodo .btn button:hover {
  filter: brightness(1.2);
  transition: all 0.3 linear;
}

/* AddNewTodo form */
.AddNewTodo form {
  padding: 1rem;
  padding-bottom: calc(1rem + 40px);
  width: 500px;
  background: #f9fbff;
  border-radius: 10px;
}

.AddNewTodo form .text input {
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.AddNewTodo form .remind {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.AddNewTodo form p {
  margin-left: 10px;
}

.AddNewTodo form .title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.AddNewTodo form .pick-day {
  padding: 0.7rem 0.7rem 0rem 0.7rem;
}
.AddNewTodo form .pick-time {
  padding: 0.7rem 0.7rem 0rem 0.7rem;
}

.AddNewTodo form .pick-project {
  padding: 0.5rem;
}

.AddNewTodo form .pick-project .projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.AddNewTodo form .pick-project .projects .project {
  background: #4839ca;
  color: #f9fbff;
  border-radius: 5px;
  padding: 8px;
  margin: 3px;
  cursor: pointer;
}

.AddNewTodo form .pick-project .projects .active {
  background: #bbb5f1;
  color: black;
}

.AddNewTodo form .cancel {
  position: absolute;
  top: 8px;
  right: 12px;
}

.AddNewTodo form .confirm {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.AddNewTodo form .confirm button {
  width: 100%;
  height: 40px;
  background: #0080ff;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 0 0 4px 4px;
}

/* Calendar */
.Calendar {
  padding: 0.3rem;
  border-bottom: 1px solid #808080;
}

.Calendar .header {
  display: flex;
  align-items: center;
}

.Calendar .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Calendar .header .title p {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.Calendar .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.Calendar .header .btns span:hover {
  background-color: #c3c3c3;
  transition: all 0.3s ease-in-out;
}

.Calendar .items {
  padding: 0.3rem;
}

.Calendar .items .item {
  padding: 2px;
  margin: 5px;
  font-size: 1rem;
  cursor: pointer;
}

/* Projects */
.Projects {
  padding: 0.3rem;
  border-bottom: 1px solid #808080;
}

.Projects .header {
  display: flex;
  align-items: center;
}

.Projects .header .title {
  display: flex;
  align-items: center;
  flex: 1;
}

.Projects .header .title p {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.Projects .header .btns {
  display: flex;
  align-items: center;
}

.Projects .header .btns span {
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.Projects .header .btns span:hover {
  background-color: #c2c2c2;
  transition: all 0.3s ease-in-out;
}

.Projects .items {
  padding: 0.3rem;
}

/* Project */
.Project {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 1rem;
}

.Project .name {
  cursor: pointer;
  word-break: break-all;
}

.Project .btns {
  display: flex;
  align-items: center;
}

.Project .btns .total-todos {
  position: absolute;
  right: 0;
  background: #c2c2c2;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.Project .btns .edit-delete {
  position: absolute;
  right: 0;
  display: flex;
}

.Project .btns .edit-delete span {
  border-radius: 50%;
  content: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.Project .btns .edit-delete span.edit:hover {
  background: #83eb9f;
}

.Project .btns .edit-delete span.delete:hover {
  background: #ee8d8d;
}

/* AddNewProject */
.AddNewProject .add-button span {
  margin: 2px;
}

/* ProjectForm */
.projectForm {
  background-color: #f9fbff;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  padding-bottom: 40px;
}

.projectForm input {
  width: 100%;
  height: 40px;
  margin: 15px 0;
  font-size: 0.8rem;
}
.projectForm input:focus {
  outline: none;
}

.projectForm button {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 50%;
  font-size: 0.8rem;
  transition: filter 0.3s ease-in-out;
}

.projectForm button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.projectForm button.cancel {
  left: 0;
  background-color: #ee8d8d;
  border: none;
  border-radius: 0 0 0 5px;
}

.projectForm button.confirm {
  right: 0;
  background-color: #83eb9f;
  border: none;
  border-radius: 0 0 5px 0;
}
