@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  font-size: 24px;
}

/*App*/
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/*Sidebar*/
.Sidebar {
  background-color: #f9fbff;
  width: 300px;
  min-width: 210px;
  height: 100%;
}

/*Main*/
.Main {
  background-image: url('./img/jesse-borovnica-VjMJmwZOs9M-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* User !!logo does not fit as it stands!! */
.User {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border: 1px solid #ebebeb;
}

.User .logo img {
  display: flex;
  justify-content: space-around;
  width: 75px;
  border-radius: 50%;
  border: 1px solid #000;
}

.User .info p {
  font-family: 'Vidaloka', cursive;
  font-size: 1.9rem;
}

.User .info a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
}
